.Red{
    color: red;
    background-color: aquamarine;
}
.blue{
    color: blue;
    background-color: aquamarine;
}
#youssef{
    background-color: aqua;
    color: black;
    text-align: center;
}
.div-1{
    background-color: ;
}